In [3]:
import pandas as pd
data = pd.read_csv('owid-covid-data.csv')
data.head()  # Preview first 5 rows

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [5]:
data.info()   # Data types and missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302512 entries, 0 to 302511
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    302512 non-null  object
 1   continent                                   288160 non-null  object
 2   location                                    302512 non-null  object
 3   date                                        302512 non-null  object
 4   total_cases                                 266771 non-null  float64
 5   new_cases                                   294064 non-null  float64
 6   new_cases_smoothed                          292800 non-null  float64
 7   total_deaths                                246214 non-null  float64
 8   new_deaths                                  294139 non-null  float64
 9   new_deaths_smoothed                         292909 non-null  float64
 10  total_cases_per_million                     266771 non-null  float64
 11  new_cases_per_million                       294064 non-null  float64
 12  new_cases_smoothed_per_million              292800 non-null  float64
 13  total_deaths_per_million                    246214 non-null  float64
 14  new_deaths_per_million                      294139 non-null  float64
 15  new_deaths_smoothed_per_million             292909 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                34764 non-null   float64
 18  icu_patients_per_million                    34764 non-null   float64
 19  hosp_patients                               35138 non-null   float64
 20  hosp_patients_per_million                   35138 non-null   float64
 21  weekly_icu_admissions                       9101 non-null    float64
 22  weekly_icu_admissions_per_million           9101 non-null    float64
 23  weekly_hosp_admissions                      21287 non-null   float64
 24  weekly_hosp_admissions_per_million          21287 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          73561 non-null   float64
 35  people_vaccinated                           70411 non-null   float64
 36  people_fully_vaccinated                     68149 non-null   float64
 37  total_boosters                              42324 non-null   float64
 38  new_vaccinations                            60542 non-null   float64
 39  new_vaccinations_smoothed                   163536 non-null  float64
 40  total_vaccinations_per_hundred              73561 non-null   float64
 41  people_vaccinated_per_hundred               70411 non-null   float64
 42  people_fully_vaccinated_per_hundred         68149 non-null   float64
 43  total_boosters_per_hundred                  42324 non-null   float64
 44  new_vaccinations_smoothed_per_million       163536 non-null  float64
 45  new_people_vaccinated_smoothed              163587 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  163587 non-null  float64
 47  stringency_index                            193194 non-null  float64
 48  population_density                          256703 non-null  float64
 49  median_age                                  238751 non-null  float64
 50  aged_65_older                               230391 non-null  float64
 51  aged_70_older                               236359 non-null  float64
 52  gdp_per_capita                              233979 non-null  float64
 53  extreme_poverty                             150700 non-null  float64
 54  cardiovasc_death_rate                       234406 non-null  float64
 55  diabetes_prevalence                         246348 non-null  float64
 56  female_smokers                              175815 non-null  float64
 57  male_smokers                                173423 non-null  float64
 58  handwashing_facilities                      114817 non-null  float64
 59  hospital_beds_per_thousand                  206911 non-null  float64
 60  life_expectancy                             278219 non-null  float64
 61  human_development_index                     227212 non-null  float64
 62  population                                  302512 non-null  float64
 63  excess_mortality_cumulative_absolute        10295 non-null   float64
 64  excess_mortality_cumulative                 10295 non-null   float64
 65  excess_mortality                            10295 non-null   float64
 66  excess_mortality_cumulative_per_million     10295 non-null   float64
dtypes: float64(62), object(5)
memory usage: 154.6+ MB

In [10]:
pd.read_csv('owid-covid-data.csv', encoding='utf-8')  # or 'latin1'

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302507,ZWE,Africa,Zimbabwe,2023-04-08,264578.0,2.0,4.143,5684.0,1.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302508,ZWE,Africa,Zimbabwe,2023-04-09,264582.0,4.0,4.714,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302509,ZWE,Africa,Zimbabwe,2023-04-10,264584.0,2.0,4.143,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302510,ZWE,Africa,Zimbabwe,2023-04-11,264584.0,0.0,3.143,5684.0,0.0,0.571,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
302511,ZWE,Africa,Zimbabwe,2023-04-12,264584.0,0.0,2.571,5684.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [6]:
data.shape    # Check rows/columns

(302512, 67)

In [7]:
data.columns  # List column names

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [8]:
df = pd.read_csv('owid-covid-data.csv')

# Check for duplicate rows (all columns)
duplicates = df.duplicated()
print(f"Total duplicates: {duplicates.sum()}")

Total duplicates: 0